@page
@model RazorPage.Pages.ManageOrder.CreateModel

@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.CustomerId" class="control-label"></label>
                <select asp-for="Order.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                @{
                    DateTime defaultDate = DateTime.Today;
                }
                <input asp-for="Order.OrderDate" class="form-control" type="date" value="@defaultDate.ToString("yyyy-MM-dd")" readonly="readonly"/>
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShippedDate" class="control-label"></label>
                @{
                    DateTime maxDate = defaultDate.AddDays(30);
                }
                <input asp-for="Order.ShippedDate" class="form-control" type="date" min="@defaultDate.ToString("yyyy-MM-dd")" max="@maxDate.ToString("yyyy-MM-dd")" value="@defaultDate.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="Order.ShippedDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Total" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderStatus" class="control-label"></label>
                <input asp-for="Order.OrderStatus" class="form-control" value="Shipping" readonly="readonly"/>
                <span asp-validation-for="Order.OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Cart">Back to cart</a> |
    <a asp-page="ShopView">Back to Shop</a>|
    <a asp-page="Index">Back to Main</a>|
</div>